@model IEnumerable<ShoppingCart.Application.ViewModels.OrderDetailsViewModel>
@{
    ViewData["Title"] = "Checkout";
}

<header>
    <div>
        <h1 style="
        text-align: center;
        font: bold;
        font-family: Marker Felt, fantasy
        ">
            >>>>>> YOUR BASKET <<<<<<
        </h1>
        <br /><br />
    </div>
</header>


<div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">Item</th>
                <th>Amount</th>
                <th>Price Per Product</th>
            </tr>
        </thead>
        <tbody>
                @{ double totalPerProduct = 0;}
                @foreach (var m in Model)
                {
                    totalPerProduct = m.Quantity * m.Product.Price;
                <tr>
                    <td class="image">
                        <img src="@m.Product.ImageUrl" class="img-fluid" style="max-height:70px;border-radius:20px" />
                    </td>
                    <td class="productName">@m.Product.Name</td>
                    <td class="amount">
                        <input class="form-control" type="number" name="quantity" value=@m.Quantity style="width:60px">
                    </td>
                    <td class="price">£@totalPerProduct</td>
                    <td>
                        <a href="/Order/DeleteFromOrderDetails?productId=@m.Product.Id&orderId=@m.Order.Id" class="btn btn-outline-dark">Remove From Cart</a>
                    </td>
                </tr>
                }
        </tbody>
        <thead>
            <tr>
                <th colspan="2"></th>
                <th colspan="1"></th>
                <th colspan="1">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                </td>
                <td style="font-size:32px;text-decoration:underline">£@ViewBag.OrderTotalPrice</td>
            </tr>
        </tbody>
    </table>
</div>

