@model IEnumerable<ShoppingCart.Application.ViewModels.OrderDetailsViewModel>
@{
    TempData["Title"] = "Checkout";
}

<header>
    <div>
        <h1 style="
        text-align: center;
        font: bold;
        font-family: Marker Felt, fantasy
        ">
            >>>>>> YOUR BASKET <<<<<<
        </h1>
        <br /><br />
    </div>
</header>


<div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">Item</th>
                <th>Amount</th>
                <th>Price Per Product</th>
            </tr>
        </thead>
        <tbody>
           <partial name="_CheckoutPartial" />
        </tbody>
        <thead>
            @if (Convert.ToInt32(this.ViewContext.HttpContext.Items["count"]) > 0)
            {
                <tr>
                    <th colspan="2"></th>
                    <th colspan="1"></th>
                    <th colspan="1">Total</th>
                </tr>
            }
        </thead>
        <tbody>
            @if (Convert.ToInt32(this.ViewContext.HttpContext.Items["count"]) > 0)
            {
            <tr>
                <td colspan="3">
                </td>
                <td style="font-size:32px;text-decoration:underline">£@ViewBag.OrderTotalPrice</td>
                <td>
                    <a href="/Order/PurchaseOrder?orderId=@ViewBag.OrderId" class="btn btn-outline-dark">Checkout</a>
                </td>
            </tr>
            }
            else
            {
                <tr>
                    <td colspan="5" style="font-size:26px;text-decoration:underline;font-family:fantasy;text-align:center;column-span:all" >PLEASE ADD ITEMS TO YOUR CART IN ORDER TO CHECKOUT</td>
                </tr>
            }
        </tbody>
    </table>
</div>

