@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if (@Model.code != null)
{
<h2 class="text-danger">Code: @Model.code</h2>
}
else
{
    <h2 class="text-danger">The Error has been submitted to the Database</h2>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
        <strong>Please try going back to the Main Menu. </strong>
    </p>
}

