@model ShoppingCart.Application.ViewModels.ProductViewModel

@{
    TempData["Title"] = "Details";
}
<partial name="_FeedBackForOperationsPartial" />

<header>
    <div>
        <h1 style="
        text-align: center;
        font: bold;
        font-family: Marker Felt, fantasy
        ">
            >>>>>> Details <<<<<<
        </h1>
        <br />
    </div>
</header>

<partial name="_DetailsPartial" />

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>


