@model IPagedList<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<header>
    <div>
        <h1 style="
        text-align: center;
        font: bold;
        font-family: Marker Felt, fantasy
        ">
            >>>>>> Electric Guitars <<<<<<
        </h1>
        <br /><br />
    </div>
</header>

@{
    string categoryName = "";

}

<div style="text-align:center">
    <form action="/Products/Index?categoryName=@categoryName" method="POST">
        <label class="control-label">Filter By Category </label>
        <select asp-for="@categoryName" asp-items="ViewBag.categoryName" class="form-control col-md-4 offset-md-4">
            <option></option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Name">@category.Name</option>
            }
        </select>
        <br />
        <input type="submit" value ="Filter" class="btn btn-outline-dark" />
        <br />
        <hr />
    </form>
</div>

<partial name="_IndexPartial" />

<div>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new X.PagedList.Web.Common.PagedListRenderOptionsBase
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    Display = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded
})
</div>

