@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<header>
    <div>
        <h1 style="
        text-align: center;
        font: bold;
        font-family: Marker Felt, fantasy
        ">
            >>>>>> Electric Guitars <<<<<<
        </h1>
        <br /><br />
    </div>
</header>

<partial name="_IndexPartial" />

